@import normalize.scss

@font-face
  font-family: 'Inter'
  font-style: normal
  font-weight: 100 900
  font-display: swap
  size-adjust: 90%
  src: url('/font/InterVariable.woff2') format('woff2')
@font-face
  font-family: 'Inter'
  font-style: italic
  font-weight: 100 900
  font-display: swap
  size-adjust: 90%
  src: url('/font/InterVariable-Italic.woff2') format('woff2')
@font-feature-values 'Inter'
  @styleset
    open-digits: 1;
    disambiguation-except-zero: 4;
@mixin font-inter-small
  font-family: 'Inter', sans-serif
  font-size: 0.8rem
  font-variation-settings: "opsz" 14
  font-weight: 440
  font-variant-alternates: styleset(disambiguation-except-zero, open-digits)
@mixin font-inter-regular
  font-family: 'Inter', sans-serif
  font-size: 0.95rem
  font-variation-settings: "opsz" 20
  font-weight: 400
  font-variant-alternates: styleset(disambiguation-except-zero, open-digits)
@mixin font-inter-menu
  font-family: 'Inter', sans-serif
  font-size: 1.15rem
  font-variation-settings: "opsz" 30
  font-weight: 450
  font-variant-alternates: styleset(disambiguation-except-zero, open-digits)

@font-face
  font-family: 'Berkeley Mono'
  font-stretch: 60 100
  font-weight: 100 900
  font-style: oblique 0deg 16deg
  font-display: swap
  size-adjust: 88%
  src: url('/assets/font/Berkeley Mono Variable.woff2') format('woff2')
@mixin font-berkeley-mono-inline
  font-family: 'Berkeley Mono', monospace
  font-size: 1em
  font-weight: 450
  font-stretch: 80%
  font-variant-ligatures: none
  word-spacing: -0.3ch
@mixin font-berkeley-mono-block
  font-family: 'Berkeley Mono', monospace
  font-size: 1rem
  font-weight: 450
  font-stretch: 90%
  line-height: normal
  font-variant-ligatures: none
  word-spacing: normal

@font-face
  font-family: 'Crimson Pro'
  font-style: normal
  font-weight: 200 900
  font-display: swap
  size-adjust: 110%
  src: url('/font/CrimsonPro[wght].ttf') format('opentype')
@font-face
  font-family: 'Crimson Pro'
  font-style: italic
  font-weight: 200 900
  font-display: swap
  size-adjust: 110%
  src: url('/font/CrimsonPro-Italic[wght].ttf') format('opentype')
@mixin font-crimson-pro-regular
  font-family: 'Crimson Pro', serif
  font-size: 1.1rem
  font-weight: 400
  line-height: 1.30

$page-border-radius: 20px
$page-border-width: 2px
$header-height: 104px
$logo-width: 96px
$logo-padding: 12px
$shadow-color: #a0a0a0

$mobile-width: 580px

$red: oklch(62% 0.18 24)
$orange: oklch(80% 0.15 80)
$yellow: oklch(84% 0.16 104)
$green: oklch(82% 0.20 127)
$link: oklch(60% 0.14 225)
$blue: oklch(68% 0.12 250)
$purple: oklch(65% 0.19 315)
$bg-light: oklch(98% 0 0)
$bg-dark: oklch(94% 0 0)
$bg-page-info: oklch(92% 0 0)
$bg-darker: #c7c6ca
$bg-highlight: oklch(94% 0.07 104)

$text-faint: #a9a39e
$text-subtle: #79736f
$text-normal: #302d2a
$text-bright: #0d0b08
$text-red: #9f4138
$text-red-dim: #be8981
$text-red-bright: #c25147
$text-orange: #925001
$text-orange-dim: #b59072
$text-orange-bright: #b36300
$text-yellow: #857100
$text-yellow-dim: #aca075
$text-yellow-bright: #a18800
$text-green: #41721e
$text-green-dim: #8aa178
$text-green-bright: #518c27
$text-cyan: #007265
$text-cyan-dim: #77a197
$text-cyan-bright: #008d7d
$text-blue: #1c67a2
$text-blue-dim: #7d9cb9
$text-blue-bright: #237fc6
$text-violet: #6655a0
$text-violet-dim: #9a92b8
$text-violet-bright: #7d69c4
$text-magenta: #894780
$text-magenta-dim: #b08ba7
$text-magenta-bright: #a8589e

html
  background-color: $bg-darker
  color: $text-normal
  @include font-crimson-pro-regular
  padding: 1rem 1rem 3rem

  @media (max-width: $mobile-width)
    padding: 0 0 3rem

.page
  --page-padding: 1rem
  @media (max-width: $mobile-width)
    --page-padding: 0.5rem

  background-color: $bg-light
  border-radius: $page-border-radius
  box-shadow: 0 0 7px $shadow-color
  margin: 0 auto
  max-width: 1040px

  @media (max-width: $mobile-width)
    border-radius: 0

  > :first-child
    border-radius: $page-border-radius $page-border-radius 0 0
    @media (max-width: $mobile-width)
      border-radius: 0
  > :last-child
    border-radius: 0 0 $page-border-radius $page-border-radius
    @media (max-width: $mobile-width)
      border-radius: 0

$shadow-gradient: linear-gradient(to top, rgba(black, 0.04), rgba(black, 0) 2px)
$logo: url("/image/logo.svg")
$stripes-shadow-size: 15px
$stripes-shadow-opacity: 0.1
$stripes-gradient: linear-gradient(112deg, transparent calc(70% - 2px - #{$stripes-shadow-size}), oklch(from $green l c h / $stripes-shadow-opacity) calc(70% - 1px), $green 70%, $green calc(75% - 4px), transparent calc(75% - 2px), $yellow 75%, $yellow calc(80% - 4px), transparent calc(80% - 2px), $blue 80%, $blue calc(85% - 4px), transparent calc(85% - 2px), $red 85%, $red calc(90% - 4px), transparent calc(90% - 2px), $purple 90%, $purple calc(95% - 2px), oklch(from $purple l c h / $stripes-shadow-opacity) 95%, transparent calc(95% + #{$stripes-shadow-size}))
$header-gradient: linear-gradient(to bottom, #f4f4f4, $bg-light)

#site-header
  background-image: $shadow-gradient, $logo, $stripes-gradient, $header-gradient
  background-repeat: no-repeat, no-repeat, no-repeat, repeat
  background-position: 0 0, left $logo-padding center
  border: solid $page-border-width #ffffff
  border-bottom: none
  height: $header-height
  padding: 0

  @media (max-width: $mobile-width)
    border: none

  #site-title
    @include font-crimson-pro-regular
    font-size: 3rem
    font-weight: 550
    line-height: $header-height
    margin: 0
    padding-left: ($logo-width + 2 * $logo-padding)
    overflow: hidden
    white-space: nowrap

    @media (max-width: $mobile-width)
      font-size: 2.5rem

#site-menu
  background: linear-gradient(to bottom, #e0e0e0, #f4f4f4 100%)
  @include font-inter-menu
  line-height: 1.5
  overflow-x: auto
  padding: 0 calc(var(--page-padding) - 0.5rem)
  position: relative

  @media (max-width: $mobile-width)
    padding: 0

  ul
    display: flex
    list-style: none
    margin: 0
    padding: 0

  li
    a
      color: inherit
      display: block
      text-align: center
      padding: 0 0.5rem
      &:hover,
      &:active,
      &.active
        background-color: $bg-light
        text-decoration: none

  &.truncated ul::after
    background: linear-gradient(to right, rgba(white, 0), rgba(white, 1))
    content: " "
    position: absolute
    right: 0
    width: 1.5rem

.page-info
  min-height: 2rem

  background-color: $bg-page-info
  box-shadow: inset 0 0.4em 0.3em -0.5em $shadow-color, inset 0 -0.4em 0.4em -0.6em $shadow-color
  @include font-inter-small
  padding: 0 var(--page-padding)

  display: flex
  align-items: center
  column-gap: 0.5rem
  flex-wrap: nowrap

  .breadcrumbs
    flex-grow: 1

    @include font-inter-regular
    overflow-x: auto
    white-space: nowrap

    & > a:not(:last-child)
      padding: 0 0.2em
    & > a:last-child
      padding-left: 0.2em

  .source-info
    border-left: 1px solid $shadow-color

    padding-left: 0.5rem

    display: flex
    flex-direction: column
    line-height: 1
    text-align: right
    .label
      font-variant: all-small-caps
      white-space: nowrap

.edit-this-page
  @include font-inter-regular
  background-color: $bg-dark
  border-top: dashed 2px #e0e0e0
  display: block
  padding: 0.25rem var(--page-padding) 0.5rem
  &:hover
    background-color: $bg-light

#footer
  @include font-inter-small
  text-align: center
  padding-top: 1rem

  @media (max-width: $mobile-width)
    padding: 1rem 0.5rem 0
  a
    color: oklch(from $link calc(l - 0.15) calc(c - 0.02) h)
  p
    margin: 0

// Directory listings
.list
  // Hide the Modified column
  .m
    display: none
  // Hide the first row ("..")
  tbody > tr:first-child
    display: none
  // Swap row coloring because of the first row removal
  tr:nth-child(even)
    background-color: $bg-light
  tr:nth-child(odd)
    background-color: $bg-dark

.main-content
  padding: 1rem var(--page-padding) 1rem

p
  margin-bottom: 0.5rem
  margin-top: 0

h1
  margin-top: 1rem
  margin-bottom: 1rem
  font-size: 2.0em
  font-weight: 250
  &.title
    padding: 0

h2
  margin-top: 2.6rem
  margin-bottom: 1rem
  font-size: 1.5em
  font-weight: 580

h3
  margin-top: 1.3rem
  margin-bottom: 0.5rem
  font-size: 1.2em
  font-weight: 650

h4
  font-size: 1em
  font-weight: 700

h5
  font-size: 1em
  font-style: italic
  font-weight: 700

a
  color: $link
  text-decoration: none
  &:hover,
  &:active
    text-decoration: underline

  &[href*="chan.cafe"]
    &:hover,
    &:active
      color: green !important

a.anchor
  color: inherit
  text-decoration: none

  h1, h2, h3, h4, h5
    border-top: 1px solid transparent
    border-bottom: 1px solid transparent
    margin-left: calc(-1 * var(--page-padding))
    margin-right: calc(-1 * var(--page-padding))
    padding: 0 var(--page-padding)

    &:hover
      background: oklch(from $blue calc(l + 0.24) calc(c - 0.08) h)
      border-top: 1px solid $blue
      border-bottom: 1px solid $blue
      box-shadow: 0 0 10px -4px $blue
    &:target
      background: oklch(from $blue calc(l + 0.24) calc(c - 0.08) h)

p img, img.inline
  vertical-align: middle

p > img:first-child
  border: solid 1px #e0e0e0
  display: block
  height: auto
  margin: auto
  width: auto
  max-width: 100%

strong
  font-weight: 600

code
  @include font-berkeley-mono-inline
  hyphens: manual
  white-space: pre-wrap
  padding: 0 0.05em

iframe
  display: block
  margin: 0.5em 0

@mixin toplevel-block
  background: $bg-dark
  border-top: solid 1px #e0e0e0
  border-bottom: solid 1px #e0e0e0
  margin: 0 calc(-1 * var(--page-padding)) 0.5rem
  padding: 0.25em var(--page-padding)

blockquote
  @include toplevel-block
  > footer
    text-align: right

pre
  overflow: auto
  @include toplevel-block
  > code, > samp
    @include font-berkeley-mono-block
    background: $bg-dark
    display: block
    white-space: pre

    kbd, span.command
      color: inherit
      font-family: inherit
      font-size: inherit
      font-weight: 600
    span.abridged
      color: $text-faint
      font-style: oblique
    span.comment
      color: $text-subtle
      font-style: oblique
    span.prompt
      color: $text-green
      font-weight: 600
    span.shebang
      color: $text-subtle
      font-style: oblique

aside, figure:not(.fullwidth)
  border: solid 1px $blue
  border-radius: 10px
  overflow: hidden
  margin: 1rem 2rem
  padding: 0.5rem var(--page-padding) 0

  &:has(pre:first-child)
    padding-top: 0
  & > pre:first-child
    border-top: 0
    margin-top: 0

    > code
      margin-top: 0

  &.tip
    border-color: $green

  &.important
    border-color: $orange

  &.update
    border-color: $purple

figure.fullwidth
  margin: 0

  > figcaption:first-child
    color: $text-green
    @include toplevel-block
    @include font-inter-regular
    margin: 0 calc(-1 * var(--page-padding))
    padding: 0.25rem var(--page-padding)
    overflow-x: auto
    white-space: nowrap

    .bi
      width: 1em
      height: 1em
      vertical-align: -0.125em
      padding-right: 0.125em

  > figcaption:last-child
    // TODO: style this
    background-color: red

ol,
ul
  list-style-position: outside
  padding: 0
  margin: 0 0 0.5em 2.5rem

table
  border-collapse: collapse
  font-size: 0.9em
  margin-bottom: 0.5rem
  width: 100%

  th, tr:nth-child(even)
    background-color: $bg-dark

  td,
  th
    border: solid 1px #e0e0e0
    padding: 0.2rem
    vertical-align: middle

span.path
  font-weight: 500

@media print
  #site-header,
  #site-menu,
  .edit-this-page
    display: none

  html
    background: none
    color: black
    font-size: 0.9em

  .page
    background: none
    border: none
    border-radius: 0
    box-shadow: none
    margin: 0
    max-width: none
    min-width: 0

  .page-info
    box-shadow: none

  blockquote,
  code,
  table
    background: none

.language-yaml
  .s
    color: #c4a800

.language-python
  .k
    font-weight: bold
  .mi
    color: #3c74c0
  .s
    color: #c4a800

.secret-border:hover
  border-color: $purple

l-music
  .links
    @include toplevel-block

    display: flex
    column-gap: 0.5rem
    flex-wrap: wrap
