@media only print {
    body > header,
    body > nav {
        display: none;
    }
    html {
        background: none;
        color: black;
    }
    body {
        background: none;
        border: none;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
        max-width: none;
        min-width: 0;
    }
    section {
        background: none;
        border-radius: 0;
        margin: 0;
    }
    section blockquote,
    section code,
    section table {
        background: none;
    }
    #github {
        display: none;
    }
}
