    </article>
    {% if source.repo_url and source.is_committed %}
    <a class=edit-this-page href="{{ source.repo_url }}/edit/master/{{ source.repo_source_path }}" target=_blank>Edit this page</a>
    {% endif %}
  </div>
  <footer id=footer>
    <span id=built-from>Built from <a href="{{ site.repo_url }}" target=_blank>{{ site.repo_name }}</a>.</span>
    <span id=contact>Contact <img class=inline src=/image/admin-email.png alt="admin AT lumeh DOT org">.</span>
    <span id=support><a href='https://ko-fi.com/M4M2ULRZO' target='_blank'>Support me on Ko-fi</a>.</span>
    <span id=copyright>Copyright 2007–{{ site.time.strftime("%Y") }} Colin Chan.</span>
    <span id=license>Unless otherwise specified, content on lumeh.org may be reused under the <a rel=license href=https://creativecommons.org/licenses/by-nc-sa/4.0/ target=_blank title="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License">CC BY-NC-SA 4.0 license</a>.</span>
  </footer>
  <script>
    const menu = document.getElementById("site-menu");
    if (menu.scrollWidth > menu.clientWidth + 20) {
      menu.classList.add("truncated");
      function hideScrollGradient() {
        menu.classList.remove("truncated");
        menu.removeEventListener("scroll", hideScrollGradient);
      }
      menu.addEventListener("scroll", hideScrollGradient);
    }
  </script>
</body>
</html>
